<!DOCTYPE html>
<html>
<head>
    <title>Logger Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>
    <h1>Logger Viewer</h1>
    <input type="text" id="searchInput" onkeyup="filterLogs()" placeholder="Search for logs...">
    <ul id="logList">
        {% for log in logs %}
            <li>{{ log }}</li>
        {% endfor %}
    </ul>
    
    <script>
        // JavaScript code for filtering logs
        function filterLogs() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            ul = document.getElementById('logList');
            li = ul.getElementsByTagName('li');
            
            for (i = 0; i < li.length; i++) {
                a = li[i];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>
